/* App.css */
.app {
  text-align: center; /* Center align the button */
}

/* App.css */
/* App.css */

.loading {
  display: flex;
  position: fixed;
  align-items: center; /* Center vertically */
  height: 100vh; /* Make sure the loading div takes up the full viewport height */
  font-size: 40px;
  font-weight: bold;
  margin-top: -100px;
  margin-left: 725px;
}

.loading-dots::after {
  content: "";
  animation: loadingDots 1s infinite;
}

@keyframes loadingDots {
  0%,
  100% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
}
