* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
}

.ufcLogo {
  padding-top: 5px;

  width: 250px;
  height: auto;
  margin: 0;
  margin-left: 10px;
}
.logo-text {
  font-size: 12px;
  color: #555;
}

.hot-balls-gif {
}

.powered-by {
  padding-top: 8px;

  margin-left: 1000px;
}

.powered-by p {
  font-size: 15px;
  font-weight: bold;
  font-family: "Contrail One", cursive;
  color: black;
  padding: 5px;
}

.powered-by-logo {
  width: 37px;
  height: 36px;
  padding: 1px;
}

.shake {
  animation: shake 0.3s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(-5px);
  }
  30%,
  50%,
  70% {
    transform: translateX(5px);
  }
}

.search-input {
  padding: 7px;
  border: 3px solid black;
  border-radius: 4px;
  font-size: 12px;
  flex-grow: 1;
}

.search-button {
  font-family: "Contrail One", cursive;
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.filter-buttons {
  padding: 5px;
  gap: 10px;
  bottom: 5px;
  right: 20px;
  margin-bottom: 12px;
}

.filter-button {
  padding: 8px 17px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: "Contrail One", cursive;
}

.filter-button:hover {
  background-color: #333;
  transform: scale(1.05);
}

.filter-button.active {
  background-color: rgb(209, 15, 15);
}
/* Add this at the bottom of your existing CSS */

/* Media Query for Mobile Screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .powered-by {
    margin-left: 0;
    text-align: center; /* Center the text */
    margin-top: 10px;
  }

  .search-bar-container {
    margin-left: 0; /* Reset the margin */
    margin-top: 10px; /* Adjust as needed */
    text-align: center; /* Center the search bar */
  }

  .filter-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px auto; /* Center the filter buttons */
  }
}
